<h4>All Posts</h4>
<div class="col-xs-6">
  <div class="post-list">
    <% @posts.sort_by(&:created_at).reverse.each do |post| %>
      <div class="post-list-item">
        <p class="post-list-title"><%= link_to post.title, post_path(post) %></p>
        <p class="post-list-author">By <em><%= post.user.username %></em></p>
      </div>
    <% end %>
  </div>
</div>
