<div class="col-xs-6">
  <h4>Posts</h4>
  <ul class="list-unstyled">
    <% @posts.sort_by(&:created_at).reverse.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
</div>
