<div class="col-xs-6">
  <div class="post">
    <div class="post-header">
      <h2><%= @post.title %></h2>
      <p><%= @post.created_at.to_date %></p>
      <div class="text-right post-tools">
        <%= link_to "Edit", edit_post_path(@post) %>
      </div>
    </div>

    <p><%= @post.body %></p>
  </div>
</div>
