.post-header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1em;
}

.comment {
  border-top: 1px solid lightgray;
  margin-bottom: 1em;
}

.post-title {
  margin-top: 10px;
}

.post-details {
  font-size: .8em;
}

.post-body {
  font-family: serif;
}

.activity-list {
  font-family: serif;
}

.activity-list-item {
  padding-top: 3px;
  border-top: 1px solid lightgray;
}

.item-description {
  margin-bottom: 0px;
}

.item-type {
  text-transform: uppercase;
  font-size: .75em;
}

.item-title {
  font-size: 1.3em;
  margin-bottom: 0;
}


.item-text {
  margin-bottom: 0px;
}
